<button mat-raised-button color="primary" style="width: 5%;" class="pull-right" (click)="sync()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
<label for="" class="gray-text mb-2">Data Sources</label>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne">
                <img src="../../../assets/image/jira.jpg" style="width: 20px;" alt="">&nbsp;JIRA
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Domain URL</mat-label>
                                <input matInput placeholder="https://domain.com">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>API Key</mat-label>
                                <input matInput placeholder="00">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="qyrus">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <img src="../../../assets/image/confluence.webp" style="width: 20px;" alt="">&nbsp;Confluence
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Domain URL</mat-label>
                                <input matInput placeholder="https://domain.com">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Key</mat-label>
                                <input matInput placeholder="00">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="qyrus">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <img src="../../../assets/image/Notion_app_logo.png" style="width: 20px;" alt="">&nbsp;Notion
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-label>Domain URL</mat-label>
                                <input matInput placeholder="https://domain.com">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Key</mat-label>
                                <input matInput placeholder="00">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="qyrus">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<label for="" class="gray-text mb-2">Social Media Platforms</label>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnep"
                aria-expanded="false" aria-controls="collapseOnep">
                <img src="../../../assets/image/instagram.jpg" style="width: 20px;" alt="">&nbsp;Instagram
            </button>
        </h2>
        <div id="collapseOnep" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Client Key</mat-label>
                                <input matInput placeholder="9kjhskjdf3jkhsfd">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Secret Key</mat-label>
                                <input matInput placeholder="kkjdf998">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwop" aria-expanded="false" aria-controls="collapseTwop">
                <img src="../../../assets/image/facebook.png" style="width: 20px;" alt="">&nbsp;Facebook
            </button>
        </h2>
        <div id="collapseTwop" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Client Key</mat-label>
                                <input matInput placeholder="9kjhskjdf3jkhsfd">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Secret Key</mat-label>
                                <input matInput placeholder="kkjdf998">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThreep" aria-expanded="false" aria-controls="collapseThreep">
                <img src="../../../assets/image/linkedin.png" style="width: 20px;" alt="">&nbsp;LinkedIn
            </button>
        </h2>
        <div id="collapseThreep" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Client Key</mat-label>
                                <input matInput placeholder="9kjhskjdf3jkhsfd">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Secret Key</mat-label>
                                <input matInput placeholder="kkjdf998">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFourp" aria-expanded="false" aria-controls="collapseFourp">
                <img src="../../../assets/image/thread.png" style="width: 20px;" alt="">&nbsp;Thread
            </button>
        </h2>
        <div id="collapseFourp" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Client Key</mat-label>
                                <input matInput placeholder="9kjhskjdf3jkhsfd">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Secret Key</mat-label>
                                <input matInput placeholder="kkjdf998">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFivep" aria-expanded="false" aria-controls="collapseFivep">
                <img src="../../../assets/image/linkedin.png" style="width: 20px;" alt="">&nbsp;X
            </button>
        </h2>
        <div id="collapseFivep" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Client Key</mat-label>
                                <input matInput placeholder="9kjhskjdf3jkhsfd">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td><mat-form-field class="example-full-width">
                                <mat-label>Secret Key</mat-label>
                                <input matInput placeholder="kkjdf998">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>